<!DOCTYPE html>
<html lang="es">
<head>
	<title>CCS Code Generator</title>	
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   <script type="text/javascript" src="js/main.js"></script>
</head>
<body onload="load()">
<div class="row">
   <div class="col m-2">
      <div class="card">
         <div class="card-header">
            <div class="row">
               <div class="col">
                  CCS Code Generator
               </div>
               <div class="col-auto">
                  <button data-toggle="collapse" data-target="#jsonWrapper" class="btn btn-light"><i class="fas fa-code"></i></button>
               </div>
               <div class="col-auto">
                  <button onclick="generateCode()" class="btn btn-outline-success"><i class="fas fa-play"></i></button>
               </div>
            </div>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col">
                  <div class="h5">Información del proyecto</div>
               </div>
            </div>
            <div class="row">
               <div class="col-auto">Pines a utilizar:</div>
               <div class="col-auto">
                  <select name="paData[CPIN]" class="form-control">
                     <option disabled selected value="">Seleccione pin</option>
                     <option value="PIN_A0">PIN_A0</option>
                  </select>
               </div>
               <div class="col">
                  <button class="btn btn-success" onclick="add()"><i class="fas fa-plus"></i></button>
               </div>
            </div>
            <!-- <div class="row">
               <div class="col">
                  <input name="paData[CNOMPRO]" class="form-control" type="text" placeholder="Nombre del proyecto" oninput="loadJSONView()">
               </div>
               <div class="col-auto pr-0">PIC:</div>
               <div class="col">
                  <select class="form-control" name="paData[CPIC]" onchange="loadPins(this.value)">
                     <option disabled selected value="">Seleccione PIC</option>
                     <option value="16f628a">16f628a</option>
                     <option value="16f778a">16f778a</option>
                     <option value="16f629">16f629</option>
                  </select>
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-auto pr-0">Repetir</div>
               <div class="col-auto pr-0">
                  <button class="btn" onclick="f_toggle_repetir(this)"><i class="fas fa-infinity text-success"></i></button>
               </div>
               <div id="nrepetir" class="col d-none">
                  <input type="number" name="paData[NREPET]" class="form-control" placeholder="Veces" value="0" oninput="loadJSONView()">
               </div>
               <div class="col-auto pr-0">Pines a utilizar:</div>
               <div class="col-auto pr-0">
                  <select name="paData[CPIN]" class="form-control" disabled>
                     <option disabled selected value="">Seleccione pin</option>
                  </select>
               </div>
               <div class="col">
                  <button class="btn btn-success" onclick="add()"><i class="fas fa-plus"></i></button>
               </div>
            </div> -->
            <hr>
            <div class="row">
               <div class="col">
                  <div class="h5">Programación</div>
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-auto pr-0">
                  <input disabled type="number" class="form-control" id="interval" placeholder="Añadir tiempo">
               </div>
               <div class="col-auto my-auto pl-1">ms</div>
               <div class="col-auto">
                  <button id="btnAddTime" disabled onclick="addTime()" class="btn btn-success"><i class="fas fa-plus"></i></button>
               </div>
            </div>
            <hr>
            <div class="row">
               <div class="col">
                  <div id="graph" class="w-100"></div>
               </div>
            </div>
            <hr>
            <div id="jsonWrapper" class="row collapse">
               <div class="col">
                  JSON
                  <textarea class="form-control" id="jsonView" rows="5"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  Código
                  <textarea id="code" class="form-control" rows="10"></textarea>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="proyectModal" class="modal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content bg-dark">
         <div class="modal-header text-white">
            <div class="modal-title">Crear o abrir proyecto</div>
            <button type="button" data-dismiss="modal" class="close text-white"><span>&times;</span></button>
         </div>
         <div class="modal-body text-white">
            <div class="row">
               <div class="col">
                  <button onclick="f_showCreateModal()" class="btn btn-outline-light">Crear nuevo...</button>
               </div>
            </div>
            <hr class="bg-light">
            <div class="row">
               <div class="col">
                  Recientes
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="list-group">
                     {foreach from=$saArrays['ARECENT'] item=i}
                        <button nIdProy="{$i['NIDPROY']}" onclick="App.OpenProject(this)" class="list-group-item list-group-item-action bg-dark border text-white">{$i['CNOMBRE']}</button>
                     {/foreach}                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="createModal" class="modal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content bg-dark">
         <div class="modal-header text-white">
            <div class="modal-title">Crear proyecto</div>
            <button type="button" data-dismiss="modal" class="close text-white"><span>&times;</span></button>
         </div>
         <div class="modal-body text-white">
            <div class="row">
               <div class="col-auto">
                  Nombre del proyecto:
               </div>
               <div class="col">
                  <input type="text" class="form-control" name="paData[CNOMBRE]">
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-auto">PIC:</div>
               <div class="col">
                  <select class="form-control" name="paData[CPIC]" onchange="loadPins(this.value)">
                     <option disabled selected value="">Seleccione PIC</option>
                     {foreach from=$saArrays['APIC'] item=i}
                        <option value="{$i['CCODPIC']}">{$i['CCODPIC']}</option>
                     {/foreach}
                  </select>
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-auto">
                  Repetir
               </div>
               <div class="col-auto">
                  <button class="btn" onclick="f_toggle_repetir(this)"><i class="fas fa-infinity text-success"></i></button>
               </div>
               <div id="nrepetir" class="col d-none">
                  <input type="number" name="paData[NREPET]" class="form-control" placeholder="Veces" value="0" oninput="loadJSONView()">
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-outline-light" onclick="f_createProject()"><i class="far fa-save"></i> Crear</button>
         </div>
      </div>
   </div>
</div>
</body>
</html>